name: Go Build and Docker

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.21'
      working-directory:
        description: 'Directory containing Go code'
        required: true
        type: string
      docker-context:
        description: 'Docker build context path'
        required: false
        type: string
        default: ''
      image-name:
        description: 'Docker image name (defaults to last directory in working-directory)'
        required: false
        type: string
        default: ''
      build-docker:
        description: 'Whether to build Docker image'
        required: false
        type: boolean
        default: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with go-release-action
        uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: linux
          goarch: amd64
          goversion: ${{ inputs.go-version }}
          project_path: ${{ inputs.working-directory }}
          binary_name: server
          release_tag: ${{ github.sha }}
          overwrite: true

  docker:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ inputs.build-docker }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.docker-context != '' && inputs.docker-context || inputs.working-directory }}
          push: false
          tags: ${{ inputs.image-name != '' && inputs.image-name || inputs.working-directory }}:${{ github.sha }}
